@model Nest.SiteData
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home | @Model.CurrentItem.Title</title>

    <meta name="title" content="Home | @Model.CurrentItem.Title">
    <meta name="description" content="@Model.CurrentItem.Summary">
    <meta name="author" content="Brian Dunnington" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Roku Like A Hurricane" />
    <meta property="og:url" content="https://rokulikeahurricane.io/">
    <meta property="og:title" content="Home | @Model.CurrentItem.Title">
    <meta property="og:description" content="@Model.CurrentItem.Summary">
    <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@("@briandunnington")">
    <meta property="twitter:creator" content="@("@briandunnington")">
    <meta property="twitter:url" content="https://rokulikeahurricane.io/">
    <meta property="twitter:title" content="Home | @Model.CurrentItem.Title">
    <meta property="twitter:description" content="@Model.CurrentItem.Summary">
    <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <link rel="canonical" href="https://rokulikeahurricane.io" />
    <link rel="stylesheet" href="/.css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/.img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/.img/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/.img/favicon-32x32.png">
    <link type="application/atom+xml" rel="alternate" href="https://rokulikeahurricane.io/feed.xml" title="Tale" />
</head>

<body>
    <nav class="nav">
        <div class="nav-container">
            <a href="/">
                <h2 class="nav-title">Roku Like A Hurricane</h2>
            </a>
            <ul>
                <li><a href="/about.html">About</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="catalogue">
            @{
                var catlist = new Dictionary<string, List<dynamic>>();
                foreach (var post in @Model.Posts)
                {
                    if (post.Contains("Category") && post.Category == @Model.CurrentItem.Title)
                    {
                        if (!catlist.ContainsKey(post.Category))
                        {
                            catlist.Add(post.Category, new List<dynamic>());
                        }
                        var list = catlist[post.Category];
                        list.Add(post);
                    }
                }
            }
            @foreach (var item in catlist)
            {
                <h1>Category: @item.Key</h1>
                foreach (var post in item.Value)
                {
                <a href="@post.Link" class="catalogue-item">
                    <div>
                        <time datetime="@post.Date.ToString("yyyy-MM-dd hh:mm:ss +0000")" class="catalogue-time">@post.Date.ToString("MMMM d, yyyy")</time>
                        <h1 class="catalogue-title">@post.Title</h1>
                        <div class="catalogue-line"></div>
                        <p>
                            @post.Summary
                        </p>
                    </div>
                </a>
                }
            }
        </div>

        <div class="pagination">
        </div>
    </main>

    <footer>
        <span>
            &copy; <time datetime="2019-01-01 00:00:00 +0000">2019</time> Brian Dunnington.
        </span>
    </footer>

</body>

</html>
