@model Nest.SiteData
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@Model.CurrentItem.Title</title>

    <meta name="title" content="@Model.CurrentItem.Title"/>
    <meta name="description" content="@Model.CurrentItem.Summary"/>
    <meta name="author" content="Brian Dunnington" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Roku Like A Hurricane" />
    <meta property="og:url" content="https://rokulikeahurricane.io/"/>
    <meta property="og:title" content="@Model.CurrentItem.Title"/>
    <meta property="og:description" content="@Model.CurrentItem.Summary"/>
    <meta property="article:published_time" content="@Model.CurrentItem.Date.ToString("yyyy-MM-ddThh:mm:ss")"/>
    <meta property="og:image" content="https://rokulikeahurricane.io/img/roku_logo.png"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:site" content="@("@briandunnington")"/>
    <meta property="twitter:creator" content="@("@briandunnington")"/>
    <meta property="twitter:url" content="https://rokulikeahurricane.io/"/>
    <meta property="twitter:title" content="@Model.CurrentItem.Title"/>
    <meta property="twitter:description" content="@Model.CurrentItem.Summary"/>
    <meta property="twitter:image" content="https://rokulikeahurricane.io/img/roku_logo.png"/>

    <link rel="canonical" href="https://rokulikeahurricane.io" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/prism.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon-32x32.png"/>
    <link type="application/atom+xml" rel="alternate" href="https://rokulikeahurricane.io/feed.xml" title="Tale" />

    <script src="/js/prism.js"></script>
</head>

<body>
    <nav class="nav">
        <div class="nav-container">
            <a href="/">
                <h2 class="nav-title">Roku Like A Hurricane</h2>
            </a>
            <ul>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="post">
            <div class="post-info">
                <span>Written by</span>
                    Brian
                <br>
                <span>on&nbsp;</span><time datetime="@Model.CurrentItem.Date.ToString("yyyy-MM-dd hh:mm:ss +0000")" class="catalogue-time">@Model.CurrentItem.Date.ToString("MMMM d, yyyy")</time>
            </div>

            <h1 class="post-title">@Model.CurrentItem.Title</h1>
            <div class="post-line"></div>

            @{
                var categoryLink = "categories/" + @Model.CurrentItem.Category.ToLower();
            }
            <h4>Category: <a href="@categoryLink">@Model.CurrentItem.Category</a></h4>

            <div class="language-vbnet">@Model.CurrentItem.Content</div>
        </div>

        <div class="pagination">
            @{
                var posts = @Model.Posts.Where((p) => !p.LinkNoExt.Contains("/categories/")).OrderByDescending(p => p.Date).ToList();
                var index = posts.IndexOf(@Model.CurrentItem);
                var prevIndex = index - 1;
                var nextIndex = index + 1;
                var count = posts.Count;
            }
            @if(prevIndex >= 0)
            {
                <a href="@posts[prevIndex].LinkNoExt" class="left arrow">&#8592;</a>
            }
            @if(nextIndex < count)
            {
                <a href="@posts[nextIndex].LinkNoExt" class="right arrow">&#8594;</a>
            }
            <a href="#" class="top">Top</a>
        </div>
    </main>

    <footer>
        <span>
            &copy; <time datetime="2019-01-01 00:00:00 +0000">2019</time> Brian Dunnington.
        </span>
    </footer>

</body>
</html>
